/*.row1 {
 position:absolute;
 top:70px;

}*/

.container-fluid {
  background-color: #BDC4A7;
  padding-top: 70px;
}


h1 {
  color: red ;
  background-color: cyan;
  font-size: 25px;
}

p {
  font-family: helvetica;
  font-weight: ;
  text-align: ;
}

li{

  float: center;
  display: block;
  margin: 10px;
}

li a {
  text-decoration: none;
  font-family: helvetica;
  color: grey;

}

a:hover {
    color: red;
    text-decoration: none;
}

ul {

  width: 100%;
  display: block;
}

.navbar {
    position: sticky;
    top: 20px;
}
